@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');

body {
    background-color: black;
    color: white;
    font-family: Ubuntu,sans-serif;
}

a{
    color: aqua;
}